.contendor-bienvenida {
    height: auto;
    padding: 10px;
}

.imagen-style {
    max-width: 100%;
    height: auto;

}

.contenedor-texto-bienvenida {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    padding: 20px;
}

.contenedor-imagen {

    display: flex;
    align-items: stretch;

}

.texto-bienvenida {
    margin: 30px;
}