.imagenStyle {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;

}

@media (max-width: 767px) {
    .imagenStyle {

        object-fit: cover;

        /* Ajusta el valor según sea necesario */
    }




}


.captionStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Cambia el valor alfa para ajustar la opacidad */
}

.imagen-logo {
    width: 200px;
    /* Ajusta el tamaño inicial de la imagen */
    animation: zoomInOut 2s infinite alternate;
    /* Nombre de la animación, duración, iteración */
    animation-delay: 2s;
    /* Ajusta el retraso antes de que comience la animación */
}

@keyframes zoomInOut {
    0% {
        transform: scale(1.2);
        /* Tamaño normal */
    }

    100% {
        transform: scale(0.9);
        /* Tamaño aumentado (zoom) */
    }
}

.contenedor-caption {
    display: flex;
    align-items: center;
    align-content: space-around;
    flex-direction: column-reverse;
    justify-content: space-around;

    height: 50vh;
}