.contenedor-footer {
    width: 100%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #000000;
    background-image: url("../assets/background/textura-desgastada.jpeg");
    background-size: 80%;
    /* Ajusta el tamaño de la imagen al 50% del contenedor */
    background-repeat: repeat;
    /* Evita que la imagen se repita */
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.icons {
    font-size: 1.5rem;
    cursor: pointer;

}

.icons:hover {
    color: white;
}

.footer-nav a {
    color: black;
    /* Cambia el color del texto a blanco */
    text-decoration: none;
    /* Elimina la decoración de subrayado */
}

.footer-nav a:hover {
    color: white;
    /* Cambia el color del texto a blanco al pasar el mouse */
    text-decoration: none;
    /* Elimina la decoración de subrayado al pasar el mouse */
}



.redes {
    font-size: 2rem;
}

.contenedor-row-footer {

    display: flex;

    justify-content: space-evenly;
    align-items: center;
    align-content: center;

}

.imagen-logo-footer {
    width: 300px;
}

.contenedor-redes-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    color: #000000;


}

.contenedor-logo-footer {

    text-align: center;
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 600px) {

    .contenedor-footer {



        background-size: cover;
        /* Ajusta el tamaño de la imagen al 50% del contenedor */
        background-repeat: repeat;
        /* Evita que la imagen se repita */
        background-position: center;

    }
}



.footer-info {
    text-align: left;


}



.footer-list {
    list-style-type: none;
    padding: 0;
}

.footer-list li {
    margin-bottom: 10px;
}

.footer-list p {
    margin: 0;
}

.footer-list p svg {
    margin-right: 5px;
    /* Añade espacio entre el icono y el texto */
}

hr {
    border-color: #fff;
    /* Cambia el color de la línea si es necesario */
}

.protest-guerrilla-regular {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav li {
    margin: 0 10px;
    /* Espacio entre elementos */
}

.footer-nav li p,
.footer-nav li span {
    margin: 0;
    /* Elimina el margen predeterminado de los párrafos y los spans */
    font-weight: bolder;
    text-transform: uppercase;

    /* Hace que el texto esté en negrita */
}