.image-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* Cambia el número de columnas según tus necesidades */
    grid-gap: 0;
    /* Elimina cualquier espacio entre las imágenes */

}

.img-fluid.custom-image {
    transition: transform 0.3s ease;
    /* Agrega una transición suave */
}

.img-fluid.custom-image:hover {
    transform: scale(0.9);
    /* Reduce la escala de la imagen al 90% */
}



.img-fluid {
    height: auto
}