.contenedor-lista-precios {

    margin-top: 8rem;
    margin-bottom: 8rem;
}

.titulo-precios {

    margin-bottom: 30px;
    background-color: black;
    border-radius: 8px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.protest-guerrilla-regular {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* ListaPrecios.css */
.precios-table {
    width: 100%;

}

.header-cell-left {
    text-align: center;

    width: 50vw;
    /* Agrega más espacio horizontal */



}

.header-cell-right {
    text-align: right;

    width: 50vw;
}

.service-cell {


    width: 50vw;

}

.price-cell {

    width: 50vw;

    /* Agrega más espacio horizontal */

}