.contenedor-lista-precios {

    margin-top: 8rem;
    margin-bottom: 8rem;
}

.titulo-precios {

    margin-bottom: 30px;
}


.protest-guerrilla-regular {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* ListaPrecios.css */
.precios-table {
    width: 100%;

}

.header-cell-left {
    text-align: center;

    width: 50vw;
    /* Agrega más espacio horizontal */



}

.header-cell-right {
    text-align: right;

    width: 50vw;
}

.service-cell {


    width: 50vw;

}

.price-cell {

    width: 50vw;

    /* Agrega más espacio horizontal */

}