.contenedor-marcas {
    overflow: hidden;
    /* Oculta el contenido que desborda */
    width: 100%;
    display: flex;
    align-items: center;

}

.marcas-cinta {
    display: flex;
    /* Usa un contenedor flexible */
    overflow: hidden;
    /* Oculta el desbordamiento para evitar que las imágenes se vean fuera del contenedor */
    position: relative;
    /* Añade posición relativa para poder reiniciar la animación */
}

.logitoMarca {
    width: 50%;
    height: 50%;
    margin: 0 10px;
    /* Espacio entre las imágenes */
    animation: moverCinta 15s linear infinite;
    /* Animación para mover la cinta */

    /* Ajusta la posición absoluta para permitir la transición continua */
}

@keyframes moverCinta {
    0% {
        transform: translateX(-400%);
        /* Empieza desde la derecha */
    }

    100% {
        transform: translateX(200%);
        /* Termina en la izquierda */
    }
}