.imagen-logo-navbar {
    width: 200px;
}


.color-fondo-navbar {
    background-image: url("../assets/background//textura-desgastada.jpg");
    background-size: 20%;
    /* Ajusta el tamaño de la imagen al 50% del contenedor */
    background-repeat: repeat;
    /* Evita que la imagen se repita */
    background-position: center;
    /* Centra la imagen */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}




.css-button-retro--yellow {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 1px solid #000;
    color: #000;
    background: rebeccapurple;

    z-index: 0;

}

.css-button-retro--yellow:hover:after {
    top: 0;
    left: 0;
}



.css-button-retro--yellow:after {
    content: "";
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 5px;
    left: 5px;
    transition: 0.2s;
    background-color: #ffe566;

}


@media only screen and (max-width: 600px) {

    /* Estilos específicos para pantallas con un ancho máximo de 600px (por ejemplo, teléfonos) */
    .color-fondo-navbar {
        background-size: cover;

    }
}