.contenedor-redes {

    display: flex;
    background-image: url("../assets/background/textura-desgastada.jpg");
    background-size: 50%;
    background-repeat: repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 25vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;


}

.protest-guerrilla-regular {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.contenedor_titulo {

    text-align: center;
    margin-bottom: 3rem;
    padding: 0.5rem;
    background-color: #393E41;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white
}

.mi-enlace {
    text-decoration: none;
    color: inherit;

}

.mi-enlace:hover {
    color: white;
}



.icono {

    margin-bottom: 20px;
    font-size: 2rem;

}





.contenedor-derecha {
    display: flex;
    align-items: flex-start;
}

.contenedor-derecha:hover {
    cursor: pointer;
}

.contenedor-izquierda {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.contenedor-izquierda:hover {
    cursor: pointer;
}



/* Define el área de cada icono */
.instagram {
    grid-column: 1;
    /* Columna 1 */
    grid-row: 1;
    /* Fila 1 */
    /*animation: bounce 4s infinite alternate;*/
    animation: izquierda 20s infinite alternate;
    width: 100%;



}



.facebook {
    grid-column: 1;
    /* Columna 2 */
    grid-row: 2;
    /* Fila 1 */
    animation: derecha 20s infinite alternate;
    width: 100%;

}


.tiktok {
    grid-column: 2;
    /* Columna 1 */
    grid-row: 3;
    /* Fila 2 */
    animation: izquierda 20s infinite alternate;
    width: 100%;
}

.whatsapp {

    grid-column: 1;
    /* Columna 2 */
    grid-row: 4;
    /* Fila 2 */
    animation: derecha 20s infinite alternate;
}

@media only screen and (max-width: 600px) {

    /* Estilos específicos para pantallas con un ancho máximo de 600px (por ejemplo, teléfonos) */
    .contenedor-redes {

        display: flex;
        background-image: url(/WebTime/src/assets/background/textura-desgastada.jpg);
        background-size: cover;
        background-repeat: repeat;
        background-position: center;
        align-items: center;
        flex-direction: column;
        height: 50vh;
        justify-content: space-around;



    }
}