/** ACA COMIENZAN LA SEGUNDA PARTE DEL COMPONENTE */

.imagen-grid {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    grid-gap: 0;



}

.imagen-servicio.custom-image {
    transition: transform 2s ease;
    /* Agrega una transición suave */
}

.imagen-servicio.custom-image:hover {
    transform: scale(1.1);
    /* Reduce la escala de la imagen al 90% */
}



.imagen-servicio {
    height: 100vh;
    width: 100%;
    object-fit: cover;





}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 1000;
    font-style: normal;
    color: white;

}

.imagen-container {

    display: flex;
    align-items: center;
    /* Centra verticalmente */
    justify-content: center;
    /* Centra horizontalmente */
    position: relative;
    overflow: hidden;

    /* Oculta cualquier parte de la imagen que se extienda más allá del contenedor */
}

.texto-superpuesto {
    position: absolute;
    padding: 10px;
    border-radius: 5px;



}

.css-button-sliding-to-top--black {
    min-width: 230px;
    height: 70px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: transparent;
    overflow: hidden;
    border: 2px solid #212529;
    color: #FFFFFF;
    font-size: 2rem;

}

.css-button-sliding-to-top--black:hover {
    color: #fff;
}

.css-button-sliding-to-top--black:hover:after {
    height: 100%;
}

.css-button-sliding-to-top--black:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: #212529;
}