/** ACA COMIENZAN LA SEGUNDA PARTE DEL COMPONENTE */

.imagen-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;


}

.imagen-servicio.custom-image {
    transition: transform 2s ease;
    /* Agrega una transición suave */
}

.imagen-servicio.custom-image:hover {
    transform: scale(1.1);
    /* Reduce la escala de la imagen al 90% */
}



.imagen-servicio {
    height: auto;
    width: 100%;


}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 1000;
    font-style: normal;
    color: white;

}

.imagen-container {

    display: flex;
    align-items: center;
    /* Centra verticalmente */
    justify-content: center;
    /* Centra horizontalmente */
    position: relative;
    overflow: hidden;

    /* Oculta cualquier parte de la imagen que se extienda más allá del contenedor */
}

.texto-superpuesto {
    position: absolute;
    padding: 10px;
    border-radius: 5px;



}