.contenedor {}


.contenedor-col {

    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}


.contenedor-redes {

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 4rem;
}

.contenedor-col-ubicacion {}